*{
    margin: 0px;
    padding: 0px;
}

textarea{
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rems;
    margin: auto;
    padding: 1rem;
}
#output{

    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
}

.button{
    display: flex;
    margin-left: 255px;
    height: 3rem;
    width: 15rem;
    padding : 0.5rem;
    text-align: center;
    background-color: green;
    color: white;
}

.headerColor{
    background: green;
    padding: 1rem;

}
.headerColor .yodaimg{

    max-height: 60px;

    top: 0px;

    position: absolute;

    margin-left: 1px;
}

h1{
    text-align: center;

   color: white;
}

br{
    padding: 15px;
}

.footer{

    background-color: green;

    padding: 2.65rem;

   
}

.footer .footer-header{

    font-weight: bold;
    font-size: large;
    color: white;
}

.para{
    margin: auto;

    max-width: 600px;

    color: white;


}